openapi: 3.1.0

info:
  title: Fédération de Collectivités Agricoles — API REST
  version: 2.0.0
  contact:
    name: PROG3 — Haute École d'Informatique — AA 2025-2026

servers:
  - url: https://api.federation-agricole.mg/v1
    description: Serveur de production
tags:
  - name: Trésorerie
    description: "Section D — Comptes et situation financière"
  - name: Activités
    description: "Section E — Planification des activités"
  - name: Statistiques
    description: "Section G — Statistiques et rapports"

paths:

# =============================================================================
# D — TRÉSORERIE
# =============================================================================

  /collectivites/{collectiviteId}/comptes:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
    get:
      tags: [Trésorerie]
      summary: Lister tous les comptes d'une collectivité
      operationId: listComptesCollectivite
      description: |
        Retourne l'ensemble des comptes de la collectivité :
        - La caisse (1 seule possible)
        - Les comptes bancaires (N possibles)
        - Les comptes mobile money (N possibles)

        Chaque compte indique son solde actuel en MGA.
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [caisse, bancaire, mobile_money] }
          description: Filtrer par type de compte
        - name: actif
          in: query
          schema: { type: boolean }
          description: Filtrer les comptes actifs ou inactifs
      responses:
        '200':
          description: Liste des comptes avec leurs soldes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Compte' }
              example:
                - id_compte: 1
                  type: caisse
                  solde: 1250000.00
                  devise: MGA
                  actif: true
                - id_compte: 2
                  type: bancaire
                  solde: 4800000.00
                  devise: MGA
                  actif: true
                  details_bancaire:
                    titulaire: "Collectivité Analamanga Nord"
                    banque: BOA
                    numero_compte: "00005000010000000000301"
        '404': { $ref: '#/components/responses/NotFound' }

    post:
      tags: [Trésorerie]
      summary: Ajouter un compte à la collectivité
      operationId: createCompteCollectivite
      description: |
        Crée un nouveau compte pour la collectivité.

        **Contraintes métier :**
        - `type: caisse` → **1 seule caisse autorisée** par collectivité (HTTP 409 si une existe déjà)
        - `type: bancaire` → `details_bancaire` obligatoire (titulaire, banque, numéro RIB 23 chiffres)
        - `type: mobile_money` → `details_mobile_money` obligatoire (titulaire, service, téléphone unique)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCompteRequest' }
            examples:
              creer_caisse:
                summary: Créer une caisse
                value:
                  type: caisse
              creer_compte_bancaire:
                summary: Créer un compte BOA
                value:
                  type: bancaire
                  details_bancaire:
                    titulaire: "Collectivité Analamanga Nord"
                    banque: BOA
                    numero_compte: "00005000010000000000301"
              creer_mobile_money:
                summary: Créer un compte Mvola
                value:
                  type: mobile_money
                  details_mobile_money:
                    titulaire: "Jean Rakoto"
                    service: Mvola
                    telephone: "+261341234567"
      responses:
        '201':
          description: Compte créé avec succès, solde initial = 0
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Une caisse existe déjà pour cette collectivité
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: CAISSE_DEJA_EXISTANTE
                message: "Cette collectivité possède déjà une caisse (id_compte: 3)"

  /collectivites/{collectiviteId}/comptes/{compteId}:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
      - $ref: '#/components/parameters/CompteId'
    get:
      tags: [Trésorerie]
      summary: Détail d'un compte avec solde
      operationId: getCompteCollectivite
      description: Retourne toutes les informations du compte, y compris les détails bancaires ou mobile money selon le type.
      responses:
        '200':
          description: Compte avec solde actuel
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Trésorerie]
      summary: Mettre à jour les informations d'un compte
      operationId: updateCompteCollectivite
      description: |
        Permet de modifier les informations du compte.
        - Le **solde** peut être mis à jour directement (par le trésorier)
        - On peut **désactiver** un compte sans le supprimer (conservation de l'historique)
        - Le **type** d'un compte ne peut pas être modifié après création
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCompteRequest' }
            examples:
              mise_a_jour_solde:
                summary: Mise à jour du solde
                value:
                  solde: 2350000.00
              desactiver_compte:
                summary: Désactiver un compte
                value:
                  actif: false
      responses:
        '200':
          description: Compte mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Trésorerie]
      summary: Désactiver un compte (soft delete)
      operationId: deleteCompteCollectivite
      description: |
        Ne supprime pas définitivement le compte, mais le marque comme inactif
        afin de conserver l'historique des transactions passées.
        La caisse ne peut pas être désactivée si elle contient un solde non nul.
      responses:
        '204':
          description: Compte désactivé avec succès
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Impossible de désactiver une caisse avec solde non nul
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Comptes de la fédération ──

  /federation/comptes:
    get:
      tags: [Trésorerie, Fédération]
      summary: Lister les comptes de la fédération nationale
      operationId: listComptesFederation
      description: |
        Même structure que pour une collectivité :
        une seule caisse, N comptes bancaires, N comptes mobile money.
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [caisse, bancaire, mobile_money] }
        - name: actif
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Comptes de la fédération
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Compte' }

    post:
      tags: [Trésorerie, Fédération]
      summary: Ajouter un compte à la fédération
      operationId: createCompteFederation
      description: Mêmes contraintes que pour une collectivité. 1 seule caisse autorisée.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCompteRequest' }
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Une caisse existe déjà pour la fédération
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /federation/comptes/{compteId}:
    parameters:
      - $ref: '#/components/parameters/CompteId'
    get:
      tags: [Trésorerie, Fédération]
      summary: Détail d'un compte de la fédération
      operationId: getCompteFederation
      responses:
        '200':
          description: Compte avec solde
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Trésorerie, Fédération]
      summary: Mettre à jour un compte de la fédération
      operationId: updateCompteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCompteRequest' }
      responses:
        '200':
          description: Compte mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Trésorerie, Fédération]
      summary: Désactiver un compte de la fédération
      operationId: deleteCompteFederation
      responses:
        '204':
          description: Compte désactivé
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Caisse avec solde non nul — désactivation impossible
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }


components:

  parameters:
    CollectiviteId:
      name: collectiviteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant de la collectivité
    MembreId:
      name: membreId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant du membre
    ActiviteId:
      name: activiteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant de l'activité
    CompteId:
      name: compteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant du compte
    Page:
      name: page
      in: query
      schema: { type: integer, default: 1, minimum: 1 }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }

  responses:
    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Données invalides ou manquantes
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError' }
    UnprocessableEntity:
      description: Conditions métier non remplies
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError' }

  schemas:

    # ─── Erreurs ───
    Error:
      type: object
      properties:
        code: { type: string, example: RESSOURCE_INTROUVABLE }
        message: { type: string }

    ValidationError:
      type: object
      properties:
        code: { type: string, example: CONDITION_NON_REMPLIE }
        message: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              champ: { type: string }
              erreur: { type: string }


    # ─── Compte ───
    Compte:
      type: object
      properties:
        id_compte: { type: integer, readOnly: true }
        type: { type: string, enum: [ caisse, bancaire, mobile_money ] }
        solde: { type: number, format: double, description: Solde en devise (MGA par défaut) }
        devise: { type: string, default: MGA }
        actif: { type: boolean }
        details_bancaire:
          nullable: true
          allOf: [ { $ref: '#/components/schemas/CompteBancaireDetails' } ]
        details_mobile_money:
          nullable: true
          allOf: [ { $ref: '#/components/schemas/CompteMobileMoneyDetails' } ]

    CompteBancaireDetails:
      type: object
      required: [ titulaire, banque, numero_compte ]
      properties:
        titulaire: { type: string }
        banque:
          type: string
          enum: [ BRED, MCB, BMOI, BOA, BGFI, AFG, ACCÈS_BANQUE, BAOBAB, SIPEM ]
        numero_compte:
          type: string
          pattern: '^\d{23}$'
          description: "23 chiffres : BBBBB GGGGG CCCCCCCCCCC KK"
          example: "00001000010000000000101"

    CompteMobileMoneyDetails:
      type: object
      required: [ titulaire, service, telephone ]
      properties:
        titulaire: { type: string }
        service:
          type: string
          enum: [ Orange_Money, Mvola, Airtel_Money ]
        telephone:
          type: string
          description: Numéro unique — clé d'unicité
          example: "+261341234567"

    CreateCompteRequest:
      type: object
      required: [ type ]
      properties:
        type:
          type: string
          enum: [ caisse, bancaire, mobile_money ]
        details_bancaire:
          nullable: true
          description: Requis si type = bancaire
          allOf: [ { $ref: '#/components/schemas/CompteBancaireDetails' } ]
        details_mobile_money:
          nullable: true
          description: Requis si type = mobile_money
          allOf: [ { $ref: '#/components/schemas/CompteMobileMoneyDetails' } ]

    UpdateCompteRequest:
      type: object
      properties:
        solde:
          type: number
          format: double
          minimum: 0
          description: Nouveau solde (mise à jour manuelle par le trésorier)
        actif:
          type: boolean
          description: false = désactivation du compte