openapi: 3.1.0

info:
  title: Fédération de Collectivités Agricoles — API REST
  version: 2.0.0
  contact:
    name: PROG3 — Haute École d'Informatique — AA 2025-2026

servers:
  - url: https://api.federation-agricole.mg/v1
    description: Serveur de production
tags:
  - name: Trésorerie
    description: "Section D — Comptes et situation financière"
  - name: Activités
    description: "Section E — Planification des activités"
  - name: Statistiques
    description: "Section G — Statistiques et rapports"

paths:

# =============================================================================
# D — TRÉSORERIE
# =============================================================================

  /collectivites/{collectiviteId}/comptes:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
    get:
      tags: [Trésorerie]
      summary: Lister tous les comptes d'une collectivité
      operationId: listComptesCollectivite
      description: |
        Retourne l'ensemble des comptes de la collectivité :
        - La caisse (1 seule possible)
        - Les comptes bancaires (N possibles)
        - Les comptes mobile money (N possibles)

        Chaque compte indique son solde actuel en MGA.
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [caisse, bancaire, mobile_money] }
          description: Filtrer par type de compte
        - name: actif
          in: query
          schema: { type: boolean }
          description: Filtrer les comptes actifs ou inactifs
      responses:
        '200':
          description: Liste des comptes avec leurs soldes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Compte' }
              example:
                - id_compte: 1
                  type: caisse
                  solde: 1250000.00
                  devise: MGA
                  actif: true
                - id_compte: 2
                  type: bancaire
                  solde: 4800000.00
                  devise: MGA
                  actif: true
                  details_bancaire:
                    titulaire: "Collectivité Analamanga Nord"
                    banque: BOA
                    numero_compte: "00005000010000000000301"
        '404': { $ref: '#/components/responses/NotFound' }

    post:
      tags: [Trésorerie]
      summary: Ajouter un compte à la collectivité
      operationId: createCompteCollectivite
      description: |
        Crée un nouveau compte pour la collectivité.

        **Contraintes métier :**
        - `type: caisse` → **1 seule caisse autorisée** par collectivité (HTTP 409 si une existe déjà)
        - `type: bancaire` → `details_bancaire` obligatoire (titulaire, banque, numéro RIB 23 chiffres)
        - `type: mobile_money` → `details_mobile_money` obligatoire (titulaire, service, téléphone unique)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCompteRequest' }
            examples:
              creer_caisse:
                summary: Créer une caisse
                value:
                  type: caisse
              creer_compte_bancaire:
                summary: Créer un compte BOA
                value:
                  type: bancaire
                  details_bancaire:
                    titulaire: "Collectivité Analamanga Nord"
                    banque: BOA
                    numero_compte: "00005000010000000000301"
              creer_mobile_money:
                summary: Créer un compte Mvola
                value:
                  type: mobile_money
                  details_mobile_money:
                    titulaire: "Jean Rakoto"
                    service: Mvola
                    telephone: "+261341234567"
      responses:
        '201':
          description: Compte créé avec succès, solde initial = 0
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Une caisse existe déjà pour cette collectivité
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: CAISSE_DEJA_EXISTANTE
                message: "Cette collectivité possède déjà une caisse (id_compte: 3)"

  /collectivites/{collectiviteId}/comptes/{compteId}:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
      - $ref: '#/components/parameters/CompteId'
    get:
      tags: [Trésorerie]
      summary: Détail d'un compte avec solde
      operationId: getCompteCollectivite
      description: Retourne toutes les informations du compte, y compris les détails bancaires ou mobile money selon le type.
      responses:
        '200':
          description: Compte avec solde actuel
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Trésorerie]
      summary: Mettre à jour les informations d'un compte
      operationId: updateCompteCollectivite
      description: |
        Permet de modifier les informations du compte.
        - Le **solde** peut être mis à jour directement (par le trésorier)
        - On peut **désactiver** un compte sans le supprimer (conservation de l'historique)
        - Le **type** d'un compte ne peut pas être modifié après création
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCompteRequest' }
            examples:
              mise_a_jour_solde:
                summary: Mise à jour du solde
                value:
                  solde: 2350000.00
              desactiver_compte:
                summary: Désactiver un compte
                value:
                  actif: false
      responses:
        '200':
          description: Compte mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Trésorerie]
      summary: Désactiver un compte (soft delete)
      operationId: deleteCompteCollectivite
      description: |
        Ne supprime pas définitivement le compte, mais le marque comme inactif
        afin de conserver l'historique des transactions passées.
        La caisse ne peut pas être désactivée si elle contient un solde non nul.
      responses:
        '204':
          description: Compte désactivé avec succès
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Impossible de désactiver une caisse avec solde non nul
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── Comptes de la fédération ──

  /federation/comptes:
    get:
      tags: [Trésorerie, Fédération]
      summary: Lister les comptes de la fédération nationale
      operationId: listComptesFederation
      description: |
        Même structure que pour une collectivité :
        une seule caisse, N comptes bancaires, N comptes mobile money.
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [caisse, bancaire, mobile_money] }
        - name: actif
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Comptes de la fédération
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Compte' }

    post:
      tags: [Trésorerie, Fédération]
      summary: Ajouter un compte à la fédération
      operationId: createCompteFederation
      description: Mêmes contraintes que pour une collectivité. 1 seule caisse autorisée.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCompteRequest' }
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Une caisse existe déjà pour la fédération
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /federation/comptes/{compteId}:
    parameters:
      - $ref: '#/components/parameters/CompteId'
    get:
      tags: [Trésorerie, Fédération]
      summary: Détail d'un compte de la fédération
      operationId: getCompteFederation
      responses:
        '200':
          description: Compte avec solde
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Trésorerie, Fédération]
      summary: Mettre à jour un compte de la fédération
      operationId: updateCompteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCompteRequest' }
      responses:
        '200':
          description: Compte mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Trésorerie, Fédération]
      summary: Désactiver un compte de la fédération
      operationId: deleteCompteFederation
      responses:
        '204':
          description: Compte désactivé
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Caisse avec solde non nul — désactivation impossible
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

# =============================================================================
# E — ACTIVITÉS
# =============================================================================

  # ── Activités d'une collectivité ──

  /collectivites/{collectiviteId}/activites:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
    get:
      tags: [Activités]
      summary: Lister les activités d'une collectivité
      operationId: listActivitesCollectivite
      description: |
        Retourne les activités organisées par la collectivité.
        Trois types existent pour une collectivité :
        - `assemblee_generale` : mensuelle, obligatoire pour tous
        - `formation_junior` : mensuelle, obligatoire pour les juniors uniquement
        - `exceptionnelle` : à la demande, les cibles et l'obligation sont définies librement
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [assemblee_generale, formation_junior, exceptionnelle]
          description: Filtrer par type d'activité
        - name: statut
          in: query
          schema:
            type: string
            enum: [planifiée, tenue, annulée]
        - name: date_debut
          in: query
          schema: { type: string, format: date }
          description: Activités à partir de cette date
        - name: date_fin
          in: query
          schema: { type: string, format: date }
          description: Activités jusqu'à cette date
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Liste des activités de la collectivité
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Activite' }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
        '404': { $ref: '#/components/responses/NotFound' }

    post:
      tags: [Activités]
      summary: Planifier une activité
      operationId: createActiviteCollectivite
      description: |
        Crée une nouvelle activité pour la collectivité.

        **Règles par type :**
        - `assemblee_generale` : cibles automatiquement = tous les membres, obligatoire = true
        - `formation_junior` : cibles automatiquement = membres juniors uniquement, obligatoire = true
        - `exceptionnelle` : le champ `cibles` est obligatoire et défini manuellement

        Le champ `recurrence_regle` permet de noter la règle de récurrence (ex: "2e dimanche du mois").
        Il est informatif — la création des occurrences reste manuelle.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateActiviteCollectiviteRequest' }
            examples:
              assemblee_generale:
                summary: Planifier une AG mensuelle
                value:
                  type: assemblee_generale
                  titre: "Assemblée Générale — Mai 2026"
                  date_activite: "2026-05-11T09:00:00"
                  recurrence_regle: "2e dimanche du mois"
              formation_junior:
                summary: Formation obligatoire juniors
                value:
                  type: formation_junior
                  titre: "Formation technique — Cultures maraîchères"
                  date_activite: "2026-05-25T08:00:00"
                  recurrence_regle: "4e samedi du mois"
              exceptionnelle:
                summary: Activité exceptionnelle pour un poste spécifique
                value:
                  type: exceptionnelle
                  titre: "Atelier gestion financière pour trésoriers"
                  description: "Formation sur la tenue de caisse et rapports mensuels"
                  date_activite: "2026-06-05T14:00:00"
                  cibles:
                    - cible_type: poste
                      cible_id: 3
                      est_obligatoire: true
      responses:
        '201':
          description: Activité planifiée avec succès
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /collectivites/{collectiviteId}/activites/{activiteId}:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
      - $ref: '#/components/parameters/ActiviteId'
    get:
      tags: [Activités]
      summary: Détail d'une activité
      operationId: getActiviteCollectivite
      description: Retourne l'activité avec ses cibles et un résumé des présences si elle est déjà tenue.
      responses:
        '200':
          description: Activité complète
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActiviteDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Activités]
      summary: Modifier une activité planifiée
      operationId: updateActiviteCollectivite
      description: |
        Seules les activités au statut `planifiée` peuvent être modifiées.
        Une activité `tenue` ou `annulée` est en lecture seule.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateActiviteRequest' }
            example:
              titre: "AG — Mai 2026 (reportée)"
              date_activite: "2026-05-18T09:00:00"
      responses:
        '200':
          description: Activité modifiée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Modification impossible — activité déjà tenue ou annulée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [Activités]
      summary: Annuler une activité
      operationId: annulerActiviteCollectivite
      description: |
        Passe le statut de l'activité à `annulée`.
        Ne supprime pas la ressource (conservation de l'historique).
        Impossible d'annuler une activité déjà `tenue`.
      responses:
        '200':
          description: Activité annulée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Activité déjà tenue, annulation impossible
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /collectivites/{collectiviteId}/activites/{activiteId}/statut:
    parameters:
      - $ref: '#/components/parameters/CollectiviteId'
      - $ref: '#/components/parameters/ActiviteId'
    patch:
      tags: [Activités]
      summary: Marquer une activité comme tenue
      operationId: marquerActiviteTenue
      description: |
        Une fois l'activité terminée, le secrétaire la marque comme `tenue`.
        Cela déclenche la possibilité d'enregistrer les présences (section F).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [statut]
              properties:
                statut:
                  type: string
                  enum: [tenue, annulée]
      responses:
        '200':
          description: Statut mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ── Activités de la fédération ──

  /federation/activites:
    get:
      tags: [Activités, Fédération]
      summary: Lister les activités nationales de la fédération
      operationId: listActivitesFederation
      description: |
        Activités planifiées par la fédération, auxquelles les collectivités sont invitées.
        Ex : assemblée générale annuelle nationale, formations inter-collectivités.
      parameters:
        - name: statut
          in: query
          schema: { type: string, enum: [planifiée, tenue, annulée] }
        - name: date_debut
          in: query
          schema: { type: string, format: date }
        - name: date_fin
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Activités nationales
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Activite' }

    post:
      tags: [Activités, Fédération]
      summary: Planifier une activité nationale
      operationId: createActiviteFederation
      description: |
        La fédération organise un événement auquel elle invite des collectivités.
        Les cibles peuvent être :
        - `toutes_collectivites` : toutes les collectivités actives sont invitées
        - `collectivites_specifiques` : une sélection de collectivités via leurs IDs
        L'obligation de présence peut être définie collectivité par collectivité.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateActiviteFederationRequest' }
            examples:
              ag_annuelle:
                summary: AG nationale annuelle obligatoire
                value:
                  titre: "Assemblée Générale Annuelle 2026"
                  description: "Rapport global de l'évolution du secteur agricole"
                  date_activite: "2026-11-15T08:00:00"
                  invitation:
                    cible: toutes_collectivites
                    est_obligatoire: true
              formation_selective:
                summary: Formation pour 3 collectivités spécifiques
                value:
                  titre: "Formation export — Normes européennes"
                  date_activite: "2026-07-20T09:00:00"
                  invitation:
                    cible: collectivites_specifiques
                    ids_collectivites: [4, 7, 12]
                    est_obligatoire: false
      responses:
        '201':
          description: Activité nationale créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /federation/activites/{activiteId}:
    parameters:
      - $ref: '#/components/parameters/ActiviteId'
    get:
      tags: [Activités, Fédération]
      summary: Détail d'une activité nationale
      operationId: getActiviteFederation
      responses:
        '200':
          description: Activité nationale avec ses cibles
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActiviteDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Activités, Fédération]
      summary: Modifier une activité nationale
      operationId: updateActiviteFederation
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateActiviteRequest' }
      responses:
        '200':
          description: Activité mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Activite' }
        '404': { $ref: '#/components/responses/NotFound' }

# =============================================================================
# COMPONENTS
# =============================================================================

components:

  parameters:
    CollectiviteId:
      name: collectiviteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant de la collectivité
    MembreId:
      name: membreId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant du membre
    ActiviteId:
      name: activiteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant de l'activité
    CompteId:
      name: compteId
      in: path
      required: true
      schema: { type: integer }
      description: Identifiant du compte
    Page:
      name: page
      in: query
      schema: { type: integer, default: 1, minimum: 1 }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }

  responses:
    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Données invalides ou manquantes
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError' }
    UnprocessableEntity:
      description: Conditions métier non remplies
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError' }

  schemas:

    # ─── Erreurs ───
    Error:
      type: object
      properties:
        code: { type: string, example: RESSOURCE_INTROUVABLE }
        message: { type: string }

    ValidationError:
      type: object
      properties:
        code: { type: string, example: CONDITION_NON_REMPLIE }
        message: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              champ: { type: string }
              erreur: { type: string }


    # ─── Compte ───
    Compte:
      type: object
      properties:
        id_compte: { type: integer, readOnly: true }
        type: { type: string, enum: [ caisse, bancaire, mobile_money ] }
        solde: { type: number, format: double, description: Solde en devise (MGA par défaut) }
        devise: { type: string, default: MGA }
        actif: { type: boolean }
        details_bancaire:
          nullable: true
          allOf: [ { $ref: '#/components/schemas/CompteBancaireDetails' } ]
        details_mobile_money:
          nullable: true
          allOf: [ { $ref: '#/components/schemas/CompteMobileMoneyDetails' } ]

    CompteBancaireDetails:
      type: object
      required: [ titulaire, banque, numero_compte ]
      properties:
        titulaire: { type: string }
        banque:
          type: string
          enum: [ BRED, MCB, BMOI, BOA, BGFI, AFG, ACCÈS_BANQUE, BAOBAB, SIPEM ]
        numero_compte:
          type: string
          pattern: '^\d{23}$'
          description: "23 chiffres : BBBBB GGGGG CCCCCCCCCCC KK"
          example: "00001000010000000000101"

    CompteMobileMoneyDetails:
      type: object
      required: [ titulaire, service, telephone ]
      properties:
        titulaire: { type: string }
        service:
          type: string
          enum: [ Orange_Money, Mvola, Airtel_Money ]
        telephone:
          type: string
          description: Numéro unique — clé d'unicité
          example: "+261341234567"

    CreateCompteRequest:
      type: object
      required: [ type ]
      properties:
        type:
          type: string
          enum: [ caisse, bancaire, mobile_money ]
        details_bancaire:
          nullable: true
          description: Requis si type = bancaire
          allOf: [ { $ref: '#/components/schemas/CompteBancaireDetails' } ]
        details_mobile_money:
          nullable: true
          description: Requis si type = mobile_money
          allOf: [ { $ref: '#/components/schemas/CompteMobileMoneyDetails' } ]

    UpdateCompteRequest:
      type: object
      properties:
        solde:
          type: number
          format: double
          minimum: 0
          description: Nouveau solde (mise à jour manuelle par le trésorier)
        actif:
          type: boolean
          description: false = désactivation du compte

    # ─── Activité  ───
    Activite:
      type: object
      properties:
        id_activite: { type: integer, readOnly: true }
        type:
          type: string
          enum: [ assemblee_generale, formation_junior, exceptionnelle, federation ]
        titre: { type: string }
        description: { type: string, nullable: true }
        date_activite: { type: string, format: date-time }
        organisateur_type: { type: string, enum: [ collectivite, federation ] }
        organisateur_id: { type: integer }
        recurrence_regle:
          type: string
          nullable: true
          description: Règle de récurrence informelle (ex "2e dimanche du mois")
        statut: { type: string, enum: [ planifiée, tenue, annulée ] }
        cibles:
          type: array
          items: { $ref: '#/components/schemas/CibleActivite' }

    ActiviteDetail:
      allOf:
        - $ref: '#/components/schemas/Activite'
        - type: object
          properties:
            resume_presences:
              nullable: true
              description: Disponible uniquement si statut = tenue
              allOf:
                - $ref: '#/components/schemas/ResumePresences'

    CibleActivite:
      type: object
      properties:
        id_cible: { type: integer }
        cible_type:
          type: string
          enum: [ tous, poste, collectivite ]
          description: |
            - `tous` : tous les membres de la collectivité organisatrice
            - `poste` : membres occupant un poste précis (ex : juniors)
            - `collectivite` : une collectivité invitée (pour activités fédération)
        cible_id:
          type: integer
          nullable: true
          description: id_poste ou id_collectivite selon cible_type ; null si cible_type = tous
        est_obligatoire: { type: boolean }

    CreateActiviteCollectiviteRequest:
      type: object
      required: [ type, titre, date_activite ]
      properties:
        type:
          type: string
          enum: [ assemblee_generale, formation_junior, exceptionnelle ]
        titre: { type: string }
        description: { type: string, nullable: true }
        date_activite: { type: string, format: date-time }
        recurrence_regle: { type: string, nullable: true }
        cibles:
          type: array
          description: Obligatoire uniquement si type = exceptionnelle
          items:
            type: object
            required: [ cible_type, est_obligatoire ]
            properties:
              cible_type: { type: string, enum: [ tous, poste ] }
              cible_id: { type: integer, nullable: true }
              est_obligatoire: { type: boolean }

    CreateActiviteFederationRequest:
      type: object
      required: [ titre, date_activite, invitation ]
      properties:
        titre: { type: string }
        description: { type: string, nullable: true }
        date_activite: { type: string, format: date-time }
        invitation:
          type: object
          required: [ cible, est_obligatoire ]
          properties:
            cible:
              type: string
              enum: [ toutes_collectivites, collectivites_specifiques ]
            ids_collectivites:
              type: array
              items: { type: integer }
              description: Requis si cible = collectivites_specifiques
            est_obligatoire: { type: boolean }

    UpdateActiviteRequest:
      type: object
      description: Seules les activités au statut planifiée peuvent être modifiées
      properties:
        titre: { type: string }
        description: { type: string }
        date_activite: { type: string, format: date-time }
        recurrence_regle: { type: string }


    # ─── Présence ───
    ResumePresences:
      type: object
      properties:
        total_attendus: { type: integer }
        presents: { type: integer }
        absents: { type: integer }
        excuses: { type: integer }
        visiteurs: { type: integer }
        taux_assiduite: { type: number, format: float, minimum: 0, maximum: 1 }


    # ─── Statistiques ───
    RapportMensuel:
      type: object
      properties:
        collectivite_id: { type: integer }
        collectivite_nom: { type: string }
        mois: { type: integer }
        annee: { type: integer }
        nombre_membres_actifs: { type: integer }
        nombre_activites_obligatoires: { type: integer }
        taux_assiduite_global:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Ratio global de présence sur toutes les activités obligatoires du mois
        detail_activites:
          type: array
          items:
            type: object
            properties:
              id_activite: { type: integer }
              titre: { type: string }
              type: { type: string }
              date_activite: { type: string, format: date }
              presents: { type: integer }
              absents: { type: integer }
              excuses: { type: integer }
              taux_activite: { type: number, format: float }

    StatistiquesMembre:
      type: object
      properties:
        id_membre: { type: integer }
        nom: { type: string }
        prenom: { type: string }
        poste_actuel: { type: string, nullable: true }
        periode:
          type: object
          properties:
            date_debut: { type: string, format: date }
            date_fin: { type: string, format: date }
        assiduite:
          type: object
          properties:
            taux:
              type: number
              format: float
              minimum: 0
              maximum: 1
            activites_obligatoires: { type: integer }
            presences: { type: integer }
            absences: { type: integer }
            excuses: { type: integer }
            detail_activites:
              type: array
              items:
                type: object
                properties:
                  id_activite: { type: integer }
                  titre: { type: string }
                  date_activite: { type: string, format: date }
                  statut_presence: { type: string, enum: [ présent, absent, excusé ] }
        cotisations:
          type: object
          properties:
            montant_total_encaisse:
              type: number
              format: double
              description: Total réellement versé sur la période
            montant_attendu:
              type: number
              format: double
              description: Total des cotisations périodiques théoriques sur la période
            montant_impaye:
              type: number
              format: double
              description: montant_attendu − montant_total_encaisse (jamais négatif)
            detail:
              type: array
              items:
                type: object
                properties:
                  id_cotisation: { type: integer }
                  type: { type: string }
                  montant: { type: number, format: double }
                  date_encaissement: { type: string, format: date }
                  mode_paiement: { type: string }

    PaginatedStatistiquesMembres:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id_membre: { type: integer }
              nom: { type: string }
              prenom: { type: string }
              poste_actuel: { type: string, nullable: true }
              taux_assiduite: { type: number, format: float }
              montant_encaisse: { type: number, format: double }
              montant_impaye: { type: number, format: double }
        total: { type: integer }
        page: { type: integer }
        limit: { type: integer }

    StatistiquesFederation:
      type: object
      properties:
        annee: { type: integer }
        mois: { type: integer, nullable: true }
        nombre_collectivites_actives: { type: integer }
        nombre_membres_total: { type: integer }
        collectivites:
          type: array
          items:
            type: object
            properties:
              id_collectivite: { type: integer }
              nom: { type: string }
              ville: { type: string }
              nombre_membres_actifs: { type: integer }
              taux_assiduite_global: { type: number, format: float }
              total_cotisations_mois: { type: number, format: double }